@model Pin


<h2>Create a New Pin</h2>

@using (Html.BeginForm("CreatePin", "Pin", FormMethod.Post, new{enctype = "multipart/form-data"}))
{

    <div class="one" id="map" style="height: 500px;"></div>

    <script>
        var lat = @((Model?.PinLat ?? 37.7749).ToString(System.Globalization.CultureInfo.InvariantCulture));
        var lng = @((Model?.PinLong ?? -122.4194).ToString(System.Globalization.CultureInfo.InvariantCulture));

    var map = L.map('map').setView([lat, lng], 10);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19
    }).addTo(map);

    var marker = L.marker([lat, lng], { draggable: true }).addTo(map);

    // Click map to move marker
    map.on('click', function (e) {
        marker.setLatLng(e.latlng);
        updateHiddenFields(e.latlng.lat, e.latlng.lng);
    });

    // Drag marker to move
    marker.on('dragend', function (e) {
        var pos = e.target.getLatLng();
        updateHiddenFields(pos.lat, pos.lng);
    });

    function updateHiddenFields(lat, lng) {
        document.getElementById("PinLat").value = lat;
        document.getElementById("PinLong").value = lng;
    }
</script>

    <input asp-for="PinId" type="hidden" value="" />
    <input asp-for="PinLat" type="hidden" value="pinLat" />
    <input asp-for="PinLong" type="hidden" value="pinLong" />

    <label asp-for="PinName" class="control-label">Name</label>
    <input type="text" name="PinName" class="form-control" value="" />

    <label asp-for="PinJournal" class="control-label">Journal Entry</label>
    <input type="text" name="PinJournal" class="form-control" value="" />

    <label>Upload Image</label>
    <input type="file" asp-for="ImageFile" accept="image/*" />
    @* $1$ <label asp-for="PinImage" class="control-label">Image</label> #1# *@
    @* $1$ <input type="text" name="PinImage" class="form-control" value="" /> #1# *@


    <input type="submit" value="Create Pin" class="btn btn-primary" />
}

